---
extends: default

ignore: |
  **/gotk-components.yaml
  /server/ansible/roles/xanmanning.k3s/**

rules:
  line-length:
    level: warning
  truthy:
    allowed-values: ['true', 'false', 'yes', 'no']
