---
name: lint

on:  # yamllint disable-line rule:truthy
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

jobs:
  yaml:
    name: Yamllint
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3.0.1
        with:
          fetch-depth: 1
      - name: Lint YAML
        uses: ibiqlik/action-yamllint@v3.0.4
        with:
          config_file: "./.github/.yamllint-config.yaml"
#  markdown-link-check:
#    runs-on: ubuntu-20.04
#    steps:
#      - uses: actions/checkout@v3.0.1
#        with:
#          fetch-depth: 1
#      - uses: gaurav-nelson/github-action-markdown-link-check@v1
#        with:
#          folder-path: 'docs'
  markdownlint-cli:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3.0.1
        with:
          fetch-depth: 1
      - name: Markdownlint-cli
        uses: nosborn/github-action-markdown-cli@v2.0.0
        with:
          files: docs
          config_file: './.github/.markdownlint.yaml'
  shellcheck:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3.0.1
        with:
          fetch-depth: 1
      - name: Lint Hack Scripts
        uses: reviewdog/action-shellcheck@v1.9
        with:
          path: "./hack"
          level: "error"
